@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+One:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alice:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Trirong:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tinos:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=NanumMyeongjo:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --base-1-semibold: Inter;
  --font-roboto: Roboto;
  --font-nanummyeongjo: NanumMyeongjo;
  --subtitle: "Tiro Devanagari Hindi";
  --font-trirong: Trirong;
  --large-heading: "Sansita One";
  --font-tinos: Tinos;
  --font-alice: Alice;
  --font-dm-serif-display: "DM Serif Display";

  /* font sizes */
  --base-1-semibold-size: 15px;
  --font-size-sm: 14px;
  --font-size-xl: 20px;
  --font-size-xl-4: 20.4px;
  --large-heading-size: 28.4px;
  --subtitle-size: 13px;
  --font-size-base: 16px;
  --sub-sub-heading-size: 9px;
  --font-size-5xl: 24px;

  /* Colors */
  --bg-color: #fff;
  --color-whitesmoke-100: #f6f6f6;
  --color-whitesmoke-200: #f5f5f5;
  --color-whitesmoke-300: #f5f4f5;
  --color-darkslategray: #2d3748;
  --color-black: #000;
  --color-limegreen: #17bd4f;
  --color-mediumslateblue-100: #3354ff;
  --color-mediumslateblue-200: #0066ff;
  --color-yellow: #eeff32;
  --color-dimgray-100: #6b6b6b;

  /* Gaps */
  --gap-xs: 12px;
  --gap-7xs: 6px;

  /* Paddings */
  --padding-5xl: 24px;
  --padding-9xs: 4px;
  --padding-xs: 12px;
  --padding-3xs: 10px;
  --padding-11xl: 30px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-sm: 14px;
  --br-2xl: 21px;

  /* Effects */
  --button-01: 0px -1px 1px rgba(0, 0, 0, 0.04) inset,
    0px 2px 0px rgba(255, 255, 255, 0.25) inset,
    0px 4px 8px -4px rgba(0, 0, 0, 0.25);
}
